.border-right-2{
    border-right: rgb(170, 169, 169) solid 2px;
}

.card-footer-2 {
    padding: 0.75rem 1.25rem;
    /* background-color: rgba(0, 0, 0, 0.03); */
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.custom-radius{
    border-radius: 1.5rem;
}

.custom-radius-confirm-card{
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}

/* FOR SELECTING DELIVEY OPTIONS */
.selected-option{
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 2rem;
    width: 2rem;
    appearance: none;
    display: inline-block;
    background-color: #e6e4e4;
    color: #666;
    top: 10px;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
}

.selected-option:checked::before
{
    position: absolute;
    font-size: 20px;
    color: #fff;
    font-family: 'FontAwesome';
    content:"\f00c";
    margin-left: 5px;
    top: 30%;
    /* padding: 10px; 
    top: 7px;
    content: '\02143'; */
    /* transform: rotate(40deg); */
}
.selected-option:hover
{
    background-color: #f7f7f7;
}
.selected-option:checked
{
    background-color: #5a328e;
}

input {
    margin-left: 30px;
    margin-right: -1px;
}

.style-line td{
    position: relative;
}

.style-line td:after{
    content: " ";
    border-bottom: #e2e1e1 solid 3px;
    margin: auto;
    width: 100%;
    height: 10px;
    position: absolute;
    top: 49%;
    transform: translate(0, -100%);
    z-index: -1;
}

.style-line td:last-child::after{
    display: none;
}


/* Image Container  */
.img-container{
    max-width: 50px;
    max-height: 50px;
}

img{
    max-width: 100%;
    max-height: 100%;
}

.confirm-tr{
    /* 
    vertical-align: middle; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
    height: 3em;
    line-height: 3em;
}

.confirm-tr-products td{
    padding: 1rem;
}

.confirm-order-summary table th{
    max-width: 80px;
}

.confirm-table-div{
    overflow-y: scroll;
    height: 300px;
}

.confirm-card-footer{
    background-color: #5a328e;
    height: 20px;
}


/* Order compeletion cards*/
.order-card-table{
    width: 100%;
}

.order-th{
    color: grey;
    font-size: 0.72rem;
    font-weight: bolder;
}

.order-th th{
    width: 100%;
}

.order-tr{
    font-size: 0.71rem;
}
.order-tr td{
    max-width: 10%;
    /* padding: 2rem; */
}

#purchase_section, #payment_section, #shippment_section{
    height: 40px;
}

.section-text{
    font-size: 0.80rem; 
    font-weight: 600;
    line-height: 40px;
    height: 40px;
}

#price_section{
    font-size: 0.80rem; 
    font-weight: 600;
    line-height: 25px;
    height: 25px;
}

.price-circle{
    height: 50px;
    width: 50px;
    background-color: rgba(35, 186, 197, 0.534);
    border-radius: 50%;
    display: inline-block;
}

.order-logo-section{
    width: 25px;
    height: 25px;
}
.order-logo-section-2{
    width: 50px;
    height: 50px;
}
/* Custom scroll bar */
/*
 *  STYLE 6
 */

 #scroll-bar::-webkit-scrollbar-track
 {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
 }
 
 #scroll-bar::-webkit-scrollbar
 {
    width: 5px;
    background-color: #F5F5F5;
 }
 
#scroll-bar::-webkit-scrollbar-thumb
{
    background-color: #5a328e;	
    /* background-color: rgb(168, 74, 223); */
    background-image: -webkit-linear-gradient(45deg,
                                               rgba(255, 255, 255, .2) 25%,
                                               transparent 25%,
                                               transparent 50%,
                                               rgba(255, 255, 255, .2) 50%,
                                               rgba(255, 255, 255, .2) 75%,
                                               transparent 75%,
                                               transparent)



    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,
                        color-stop(.5, rgba(255, 255, 255, .2)),
                        color-stop(.5, transparent), to(transparent)); */

}
 
.btn-outline-purple {
    color: #5a328e;
    border-color: #5a328e;
}

.btn-outline-purple:hover {
    color: #fff;
    background-color: #5a328e;
    border-color: #5a328e;
}
.btn-outline-purple:focus,
.btn-outline-purple.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem #5a328e80;
}
.btn-outline-purple:not(:disabled):not(.disabled):active,
.btn-outline-purple:not(:disabled):not(.disabled).active,
.show > .btn-outline-purple.dropdown-toggle {
  color: #fff;
  background-color: #5a328e;
  border-color: #5a328e;
}

.btn-outline-purple:not(:disabled):not(.disabled):active:focus,
.btn-outline-purple:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-purple.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #5a328e57;
}

/* #E55B2B */
.btn-outline-orange {
    color: #E55B2B;
    border-color: #E55B2B;
}

.btn-outline-orange:hover {
    color: #fff;
    background-color: #E55B2B;
    border-color: #E55B2B;
}
.btn-outline-orange:focus,
.btn-outline-orange.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem #E55B2B80;
}
.btn-outline-orange:not(:disabled):not(.disabled):active,
.btn-outline-orange:not(:disabled):not(.disabled).active,
.show > .btn-outline-orange.dropdown-toggle {
  color: #fff;
  background-color: #E55B2B;
  border-color: #E55B2B;
}

.btn-outline-orange:not(:disabled):not(.disabled):active:focus,
.btn-outline-orange:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-orange.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #E55B2B57;
}

.btn-purple {
    color: #fff;
    background-color: #5a328e;
    border-color: #5a328e;
}
  
.btn-purple:hover {
    color: #fff;
    background-color: #5a328e;
    border-color: #5a328e;
}
  
.btn-purple:focus,
.btn-purple.focus {
    box-shadow: 0 0 0 0.2rem #5a328e57;
}
  
.btn-purple.disabled,
.btn-purple:disabled {
    color: #fff;
    background-color: #5a328e;
    border-color: #5a328e;
}
  
.btn-purple:not(:disabled):not(.disabled):active,
.btn-purple:not(:disabled):not(.disabled).active,
.show > .btn-purple.dropdown-toggle {
    color: #fff;
    background-color: #5a328e;
    border-color: #5a328e;
}
  
.btn-purple:not(:disabled):not(.disabled):active:focus,
.btn-purple:not(:disabled):not(.disabled).active:focus,
.show > .btn-purple.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem #5a328e57;
}

.btn-orange {
    color: #fff;
    background-color: #E55B2B;
    border-color: #E55B2B;
}
  
.btn-orange:hover {
    color: #fff;
    background-color: #E55B2B;
    border-color: #E55B2B;
}
  
.btn-orange:focus,
.btn-orange.focus {
    box-shadow: 0 0 0 0.2rem #E55B2B57;
}
  
.btn-orange.disabled,
.btn-orange:disabled {
    color: #fff;
    background-color: #E55B2B;
    border-color: #E55B2B;
}
  
.btn-orange:not(:disabled):not(.disabled):active,
.btn-orange:not(:disabled):not(.disabled).active,
.show > .btn-orange.dropdown-toggle {
    color: #fff;
    background-color: #E55B2B;
    border-color: #E55B2B;
}
  
.btn-orange:not(:disabled):not(.disabled):active:focus,
.btn-orange:not(:disabled):not(.disabled).active:focus,
.show > .btn-orange.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem #E55B2B57;
}

.modal-header-confirmation {
    border-bottom: 0px;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

/**
 * Extracted from: SweetAlert
 * Modified by: Istiak Tridip
 */
.success-checkmark {
    width: 80px;
    height: 115px;
    margin: 0 auto;
}
.check-icon {
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50%;
    box-sizing: content-box;
    border: 4px solid #5a328e;
}        
.check-icon::before {
    top: 3px;
    left: -2px;
    width: 30px;
    transform-origin: 100% 50%;
    border-radius: 100px 0 0 100px;
}

.check-icon::after {
    top: 0;
    left: 30px;
    width: 60px;
    transform-origin: 0 50%;
    border-radius: 0 100px 100px 0;
    animation: rotate-circle 4.25s ease-in;
}
        
.check-icon::before, .check-icon::after {
    content: '';
    height: 100px;
    position: absolute;
    background: #FFFFFF;
    transform: rotate(-45deg);
}
        
.icon-line {
    height: 5px;
    background-color: #5a328e;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 10;
}            
.icon-line.line-tip {
    top: 46px;
    left: 14px;
    width: 25px;
    transform: rotate(45deg);
    animation: icon-line-tip 0.75s;
}

.icon-line.line-long {
    top: 38px;
    right: 8px;
    width: 47px;
    transform: rotate(-45deg);
    animation: icon-line-long 0.75s;
}
        
.icon-circle {
    top: -4px;
    left: -4px;
    z-index: 10;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    box-sizing: content-box;
    border: 4px solid #5a328e7c;
}
        
.icon-fix {
    top: 8px;
    width: 5px;
    left: 26px;
    z-index: 1;
    height: 85px;
    position: absolute;
    transform: rotate(-45deg);
    background-color: #FFFFFF;
}
@keyframes rotate-circle {
    0% {
        transform: rotate(-45deg);
    }
    5% {
        transform: rotate(-45deg);
    }
    12% {
        transform: rotate(-405deg);
    }
    100% {
        transform: rotate(-405deg);
    }
}

@keyframes icon-line-tip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    54% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }
    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }
    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}

@keyframes icon-line-long {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    65% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    84% {
        width: 55px;
        right: 0px;
        top: 35px;
    }
    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}
SS

.search-container{
    position: relative;
}

.searchIcon {
    color: grey;
    /* border: 1px solid black; */
    /* padding: 0.5rem; */
}
  
.order-search-bar {
    width: 320px;
    border: none;
    height: 40px;
    flex: 1;
}
.order-search-bar:focus {
    outline: none;
}

.border-danger-2{
    border: 2px solid;
    border-color: #e3342f !important;
    border-radius: 10px;
}
.order-th-1{
    color: #e3342f;
    font-size: 0.72rem;
    font-weight: bolder;
    height: 35px;
}

.due-error{
    font-size: 0.80rem; 
    font-weight: 600;
    line-height: 30px;
    height: 30px;
}

/* .order-search-bar{
    width: 300px;
    height: 40px;
    /* float: left; */
    /* padding-left: 25px;
    background: #FFF;
    border: none;
} */ 

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
